<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="static/view-wardrobe.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Current Wardrobe</h1>
        <div class="product-list">
            {% for clothe in clothes %}
            <div class="product-container">
                <div class="product-image">
                    <img src="{{clothe.image.url}}" alt="Jacket Image">
                </div>
                <div class="product-details">
                    <h2 class="product-name">{{clothe.name}}</h2>
                    <p class="use count">Product use count <span class="date">{{clothe.last_used_date}}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>